<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>863208298464-1sbgv1qbg8lbhbcphsc2p32l1dmde7gv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.863208298464-1sbgv1qbg8lbhbcphsc2p32l1dmde7gv</string>
	<key>API_KEY</key>
	<string>AIzaSyCeGwav4w-FKtcIZ3EL8HFrlycsyMn7nNg</string>
	<key>GCM_SENDER_ID</key>
	<string>863208298464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emil.InstaClone</string>
	<key>PROJECT_ID</key>
	<string>instaclone-d4dda</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-d4dda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863208298464:ios:a3cd300412ab18e682bd85</string>
	<key>DATABASE_URL</key>
	<string>https://instaclone-d4dda.firebaseio.com</string>
</dict>
</plist>